body {
  background-color: black;
  margin: 0;
}
/* .를 이용해서 line구분 */
.line {
  position: absolute;
  background-color: white;
}
.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}
.vertical {
  position: absolute;
  height: 100%;
  width: 1px;
  left: 50%;
}
.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* top(y), left(x) x,y 좌표 */
.tag {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(20px, 20px);
}