<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/f_icon.png">
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
    <script src="https://kit.fontawesome.com/5c1817e2fb.js" crossorigin="anonymous"></script>
    <title>FileTransferSystem</title>
</head>
<body id="main">
    <div id="header">
        <div class="inner">
            <div class="topArea">
                <h1 class="logo">
                    <a href="index.html">HOME</a>
                </h1>
            </div>
            <div class="download">
                <i class="fas fa-download"></i>
                <a href="fileTransfer.exe">Download</a>
            </div>
            <div id="category" class="side">
                <div class="position">
                    <ul>
                        <li>
                            <a href="pagemain.html">주제선정</a>
                        </li>
                        <li>
                            <a href="flowchart.html">플로우차트</a>
                        </li>
                        <li>
                            <a href="trouble.html">트러블슈팅</a>
                        </li>
                        <li>
                            <a href="program.html">기술시현</a>
                        </li>
                        <li>
                            <a href="after.html">후기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="container">
            <div id="contents">
               <div class="flowimage"></div>
            </div>
        </div>
    </div>
</body>
</html>